<div class="container" class = "card">
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <form action="">
        <input type="text" class="box" placeholder="email"><br>
        <input type="submit" value="sendOTP" class="box">
      </form>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <form action="">
        <input type="text" class="box" placeholder="otp"><br>
        <input type="submit" value="verify otp" class = "box">
      </form>
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-4">
      <form action="">
        <input type="text" class="box" placeholder="password"><br>
        <input type="submit" value="sing up" class = "box">
      </form>
    </div>
  </div>
