
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  /* .card{
    border:none;
  } */
  .box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* background: #191919; */
    text-align: center;
    transition: 0.25s;
    margin-top: 20px
  }

  .md1{
    margin-top: 20px;
  }

   .md2{
    /*padding-top: 50px;*/
    margin-top: 150px;
  } 
  .md3{
    margin-top: 150px
  }
  .box input[type="text"],
  .box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto; 
    text-align: center;
    border: 2px solid #060707;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    margin-bottom: 5px;
  }
  /*
  .box h1 {
    color: black;
    text-transform: uppercase;
    font-weight: 500
  }
  */
  .box input[type="text"]:focus
   {
    width: 300px;
    border-color: #010201;
    /* border-color: #72ccea; */
    box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.569);
  }
  
  .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
     margin: 20px auto; 
    text-align: center;
    border: 2px solid #000000;
    padding: 10px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
  }
  
   .box input[type="submit"]:hover {
    width: 150px;
    border-color: #010201;
    /* border-color: #72ccea; */
    box-shadow: 0 0 0 0.2rem rgba(0, 108, 255, 0.569);
    /* background: #d4d0d0 */
  } 
  
  .forgot {
    text-decoration: underline
  }
  
  
  .row {
    display: flex;                 
    height: 140px;                 
    width: 1024px;                 
}

  
  
