<div >
    <div class="container text-center">
        <h1>All Admins</h1>
      </div>
    
    
      <table class="table table-bordered">
        <thead class="heading">
          <tr>
            <th>Admin Id</th>
            <th>Admin Email</th>
            <th>IsSuperAdmin</th>
          </tr>
        </thead>
        <tbody *ngFor="let admin of admin">
         <td>{{admin.adminId}}</td>
         <td>{{admin.adminEmail}}</td>
         <td>{{admin.isAdmin}}</td>
        </tbody>
      </table>
      </div>
    
