<h1>Add Forex Card Type</h1>
<form (ngSubmit)='addForexType()'>
<div class="addforex">
  <div class="mb-4">
    <label for="forexCardName" class="form-label">Forex Card Name</label>
    <input
      type="text"
      class="form-control"
      id="forexCardName"
      name="forexCardName"
      [(ngModel)]="forexCardType.forexCardName"
      aria-describedby="Name"
    />
  </div>
  <div class="mb-4">
    <label for="forexCardConversionFee" class="form-label">Conversion Fees</label>
    <input
      type="text"
      class="form-control"
      id="forexCardConversionFee"
      name="forexCardConversionFee"
      [(ngModel)]="forexCardType.forexCardConversionFee"
      aria-describedby="conversion fees"
    />
  </div>
  <div class="mb-4">
    <label for="maxSpendingLimit" class="form-label">Spending Limit</label>
    <input
      type="text"
      class="form-control"
      id="maxSpendingLimit"
      name="maxSpendingLimit"
      [(ngModel)]="forexCardType.maxSpendingLimit"
    />
  </div>
  <div class="mb-4">
    <label for="platformfee" class="form-label">Platform Fees</label>
    <input
      type="text"
      class="form-control"
      id="platformfee"
      name="platformfee"
      [(ngModel)]="forexCardType.platformfee"
    />
  </div>
  <div class="mb-4">
    <label for="subscriptionFees" class="form-label">Subscription Fees</label>
    <input
      type="text"
      class="form-control"
      id="subscriptionFees"
      name="subscriptionFees"
      [(ngModel)]="forexCardType.subscriptionFees"
    />
  </div>
  <div class="mb-4">
    <label for="baseIncome" class="form-label">Base Income</label>
    <input
      type="text"
      class="form-control"
      id="baseIncome"
      name="baseIncome"
      [(ngModel)]="forexCardType.baseIncome"
    />
  </div>
  <div class="mb-4" >
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
</form>
