<div >
    <div class="container text-center">
        <h1>Customer Complains Details</h1>
      </div>
      <!-- id?:number;
      customerName?:stding;
      phoneNumber?:stding;
      description?:stding;
      msgDescription?:stding;
      ComplainTime?:stding;
      priority?:stding; -->
    
      <table class="table table-bordered">
        <thead class="heading">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>PhoneNumber</th>
            <th>Description</th>
            <th>MsgDescription</th>
            <!-- <th>ComplainTime</th> -->
            <th>Priority</th>
          </tr>
        </thead>
        <tbody *ngFor="let complaint of complaints">
            <td>{{complaint.id}}</td>
            <td>{{complaint.customerName}}</td>
            <td>{{complaint.phoneNumber}}</td>
            <td>{{complaint.description}}</td>
            <td>{{complaint.msgDescription}}</td>
            <!-- <td>{{complaint.ComplainTime}}</td> -->
            <td>{{complaint.priority}}</td>
        </tbody>
      </table>
      </div>
    

